<h1>City:<input type="text" [(ngModel)]="title" /></h1>
{{ title }}
<button (click)="callme()" class="btn btn-primary">call</button>
<button (click)="callme()" class="btn btn-primary" [class.active]="active">
  call
</button>

<!-- <div [hidden]="shoppingCart.length == 0">Items in your Cart</div>
<div [hidden]="shoppingCart.length > 0">No Items Found</div>

<div *ngIf="shoppingCart.length > 0">Items in your Cart</div>
<div *ngIf="shoppingCart.length == 0">No Items Found</div> -->

<div *ngIf="userData.length > 0 || deptData.length > 0 ; then show else noshow">
  Items in your Cart
</div>

<ng-template #show
  ><ul>
    <li *ngFor="let ud of userData">
      {{ ud }}
    </li>
    <li *ngFor="let dp of deptData">
      {{ dp }}
    </li>
  </ul></ng-template
>
<ng-template #noshow>No Items Found</ng-template>

<app-header></app-header>
